@import '';

/* /Shared/MainLayout.razor.rz.scp.css */
#titreL[b-yu7g06b3ii] {
  margin-top: 50px;
  padding-bottom: 50px;
}
#listePatient[b-yu7g06b3ii] {
  margin-top: 50px;
}

.page[b-yu7g06b3ii] {
  position: relative;
  display: flex;
  flex-direction: column;
}

.main[b-yu7g06b3ii] {
  flex: 1;
}

.sidebar[b-yu7g06b3ii] {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-yu7g06b3ii] {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.top-row[b-yu7g06b3ii]  a,
.top-row .btn-link[b-yu7g06b3ii] {
  white-space: nowrap;
  margin-left: 1.5rem;
}

.top-row a:first-child[b-yu7g06b3ii] {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
  .top-row:not(.auth)[b-yu7g06b3ii] {
    display: none;
  }

  .top-row.auth[b-yu7g06b3ii] {
    justify-content: space-between;
  }

  .top-row a[b-yu7g06b3ii],
  .top-row .btn-link[b-yu7g06b3ii] {
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  .page[b-yu7g06b3ii] {
    flex-direction: row;
  }

  .sidebar[b-yu7g06b3ii] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .top-row[b-yu7g06b3ii] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .main > div[b-yu7g06b3ii] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
/* /Shared/NavMenu.razor.rz.scp.css */
#titreL[b-u6fkk8rcl2] {
  margin-top: 50px;
  padding-bottom: 50px;
}
#listePatient[b-u6fkk8rcl2] {
  margin-top: 50px;
}

.navbar-toggler[b-u6fkk8rcl2] {
  background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-u6fkk8rcl2] {
  height: 3.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-u6fkk8rcl2] {
  font-size: 1.1rem;
}

.oi[b-u6fkk8rcl2] {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}

.nav-item[b-u6fkk8rcl2] {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.nav-item:first-of-type[b-u6fkk8rcl2] {
  padding-top: 1rem;
}

.nav-item:last-of-type[b-u6fkk8rcl2] {
  padding-bottom: 1rem;
}

.nav-item[b-u6fkk8rcl2]  a {
  color: #d7d7d7;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
}

.nav-item[b-u6fkk8rcl2]  a.active {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
}

.nav-item[b-u6fkk8rcl2]  a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

@media (min-width: 641px) {
  .navbar-toggler[b-u6fkk8rcl2] {
    display: none;
  }

  .collapse[b-u6fkk8rcl2] {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}
